asgiref==3.11.1
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==6.0.4
django-cache-url==3.4.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
environs==15.0.1
gunicorn==25.3.0
marshmallow==4.3.0
python-dotenv==1.2.2
pytz==2026.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
